* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Alata', sans-serif;
    width: 100%;
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #222222;
}
h1 {
    font-size: 2rem;
    text-align: center;
    color: #eee;
    margin: 3rem 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
    position: relative;
}
.right-button,
.left-button {
    width: 50px;
    height: 50px;
    background-color: rgba(21, 21, 21, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}
.panel {
    width: 100%;
}
.image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: 500px;
    object-fit: contain;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.bar {
    display: flex;
    justify-content: center;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin: 0 auto;
}
.left-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    background-color: rgba(21, 21, 21, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.right-bar {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    background-color: rgba(21, 21, 21, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.thumb {
    width: 90px;
    height: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.thumb:not(:nth-child(10)) {
    margin-right: 15px;
}

.thumb:hover:not(.selected) {
    transform: scale(1.1);
}
.thumb1 {
    background-image: url('./image/dog1.jpg');
}
.thumb2 {
    background-image: url('./image/dog2.jpg');
}
.thumb3 {
    background-image: url('./image/dog3.jpg');
}
.thumb4 {
    background-image: url('./image/dog4.jpg');
}
.thumb5 {
    background-image: url('./image/dog5.jpg');
}
.thumb6 {
    background-image: url('./image/dog6.jpg');
}
.thumb7 {
    background-image: url('./image/dog7.jpg');
}
.thumb8 {
    background-image: url('./image/dog8.jpg');
}
.thumb9 {
    background-image: url('./image/dog9.jpg');
}
.thumb10 {
    background-image: url('./image/dog10.jpg');
}
.thumb11 {
    background-image: url('./image/dog11.jpg');
}
.thumb12 {
    background-image: url('./image/dog12.jpg');
}
.thumb13 {
    background-image: url('./image/dog13.jpg');
}
.thumb14 {
    background-image: url('./image/dog14.jpg');
}
.thumb15 {
    background-image: url('./image/dog15.jpg');
}
.thumb16 {
    background-image: url('./image/dog16.jpg');
}
.show {
    z-index: 10;
    opacity: 1;
}
.hidden {
    display: none;
    transform: translateX(100px);
}
.selected {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 20px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-20px);
}
@media (max-width: 992px) {
    h1 {
        margin: 1.5rem 0;
    }
    .image {
        width: 600px;
        height: 350px;
    }
    .bar {
        width: 95%;
        margin: 10px auto;
    }
    .thumb {
        width: 70px;
        height: 70px;
    }
    .right-button,
    .left-button {
        width: 40px;
        height: 40px;
    }
    .left,
    .right {
        font-size: 2rem;
    }
    .right-bar,
    .left-bar {
        font-size: 1.3rem;
        width: 30px;
        height: 30px;
    }
}
