* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 400px;
	background-color: #636e72;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.key {
	position: relative;
	width: 50px;
	height: 200px;
	background-color: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.sharp {
	position: absolute;
	top: 0;
	left: 35px;
	width: 30px;
	height: 135px;
	background-color: black;
	color: white;
	z-index: 1;
	text-align: center;
}
.note {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 600;
}
.keyboard {
	font-size: 15px;
	color: #b2bec3;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}
.notification {
	background-color: #74b9ff;
	color: white;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}
.black {
	color: black;
}
.grey {
	color: grey;
}
.color {
	border-bottom: 3px solid #0984e3;
}
